<th:block>
    <header id="header"><!--header-->
        <div class="header_top"><!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> mobilesystem1@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle"><!--header-middle-->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-3 d-flex justify-content-start">
                        <div class="logo">
                            <a href="/home"><img src="/img/logo.png" alt="" class="imgHome"/></a>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav" style="margin-left: 200px;">
                                <!-- Search Section on the Right -->
                                <li class="col-md-4 d-flex align-items-start justify-content-end">
                                    <div class="input-group mb-3 mt-3 w-100">
                                        <input type="text" id="search-input" class="form-control" placeholder="Search products">
                                    </div>
                                </li>
                                <li>
                                    <a href="/edit-info" id="accountBtn" >
                                        <i class="fa fa-user"></i>
                                        Account
                                    </a>
                                </li>
                                <!--<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>-->
                                <li>
                                    <a href="/ghn/list-order">
                                        <i class="fa fa-shopping-cart"></i>
                                        Order History <span id="" class="text-bg-danger"></span>
                                    </a>
                                </li>
                                <li>
                                      <a href="/cart">
                                           <i class="fa fa-shopping-cart"></i>
                                         Cart <span id="countItemCartHeder" class="text-bg-danger"></span>
                                    </a>
                                </li>
                                <li id="manage-btn" style="display: none;">
                                    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/dashboard}">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                        Manage
                                    </a>

                                    <!-- Hiển thị nếu người dùng có quyền STAFF -->
                                    <a th:if="${#authorization.expression('hasRole(''STAFF'')')}" th:href="@{/admin/product}">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                        Manage
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="login-btn" data-toggle="modal" data-bs-dismiss="modal"
                                       data-target="#loginModal">
                                        <i class="fa fa-lock"></i>
                                        Login
                                    </a>
                                    <a href="/logout" id="logout-btn" style="display: none">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header><!--/header-->

    <!-- Modal Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 450px;">
            <div class="modal-content" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

                <div class="modal-header d-flex justify-content-center header-login bg-dark p-3"
                     style="border-top-right-radius: 6px;border-top-left-radius: 6px;">
                    <img src="/assets/images/logos/logo.png" style="width: 150px;" alt="">
                </div>

                <div class="modal-body body-login p-4">

                    <div class="px-5 mb-3">
                        <div class="d-flex justify-content-center my-3">
                            <h4 class="fw-bold">Have we met before?</h4>
                        </div>
                        <div class="d-flex align-items-center text-xl-center" style="color: grey;">
                            Great to see you here!
                        </div>
                    </div>

                    <div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="username">Username</label>
                            </div>
                            <input type="text" class="form-control border border-dark-subtle" id="username"
                                   name="username" aria-describedby="emailHelp" autocomplete="username" placeholder="Enter username">
                            <span class="form-message form-text text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="password">Password</label>
                                <a href="/forgot-pass" style="font-size: 14px;text-decoration: dashed;"
                                   class="nav-link fw-semibold">Forgot Password?</a>
                            </div>
                            <input type="password" class="form-control border border-dark-subtle" id="password"
                                   name="password" autocomplete="current-password" placeholder="Enter password">
                            <span class="form-message form-text text-danger"></span>
                        </div>
                        <button type="button" id="send-form-login" class="btn btn-dark fw-semibold"
                                style="width: 100%;">
                            Sign in
                        </button>
                    </div>

                    <div class="d-flex justify-content-center mt-3 mb-5">
                        <span>New Member?</span>
                        <a type="button" id="register-btn" style="text-decoration: underline;" class="ms-1 nav-link fw-semibold"
                           data-toggle="modal" data-bs-dismiss="modal" data-target="#registerModal">Create a new account</a>
                    </div>

                    <div class="my-2" style="font-size: 14px; color: grey;">
                        Envato collects and uses personal data in accordance with our Privacy Policy. By creating an
                        account, you agree to our Terms & Conditions.
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Register -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 450px;">
            <div class="modal-content" style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

                <div class="modal-header d-flex justify-content-center header-login bg-dark p-3"
                     style="border-top-right-radius: 6px;border-top-left-radius: 6px;">
                    <img src="/assets/images/logos/logo.png" style="width: 150px;" alt="">
                </div>

                <div class="modal-body body-login p-4">

                    <div class="px-5 mb-3">
                        <div class="d-flex justify-content-center my-2">
                            <h3 class="fw-bold">Create Account</h3>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="color: grey;">
                            Already have account?
                            <a type="button" class="ms-1 nav-link fw-semibold text-dark login-btn"  data-toggle="modal" data-bs-dismiss="modal"
                               data-target="#loginModal">Sign in</a>
                        </div>
                    </div>

                    <div id="form-register">
                        <div class="form-group mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="username-register">Username</label>
                                <!-- <a href="" style="font-size: 14px">Remind me</a> -->
                            </div>
                            <input type="text" class="form-control border border-dark-subtle" id="username-register"
                                   name="usernameRegister" aria-describedby="emailHelp" autocomplete="username" placeholder="Enter username">
                            <span class="form-message form-text text-danger"></span>
                        </div>


                        <div class="form-group mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="password">Password</label>
                                <!-- <a href="" style="font-size: 14px">Forgot</a> -->
                            </div>
                            <input type="password" class="form-control border border-dark-subtle"
                                   id="password-register" name="passwordRegister" autocomplete="current-password" placeholder="Enter password">
                            <span class="form-message form-text text-danger"></span>
                            <!-- <div style="color: grey; font-size: 15px;">Use 8 or more characters with a mix of letters, numbers and symbols. Must not contain your name or username.</div> -->
                        </div>

                        <div class="form-group mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="confirm-password">Confirm
                                    password</label>
                                <!-- <a href="" style="font-size: 14px">Forgot</a> -->
                            </div>
                            <input type="password" class="form-control border border-dark-subtle"
                                   id="confirm-password" name="confirmPassword" autocomplete="new-password" placeholder="Enter confirm password">
                            <span class="form-message form-text text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="full-name">Full name</label>
                                <!-- <a href="" style="font-size: 14px">Forgot</a> -->
                            </div>
                            <input type="text" class="form-control border border-dark-subtle" id="full-name"
                                   name="fullName" placeholder="Enter full name">
                            <span class="form-message form-text text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="dob">Date of birth</label>
                                <!-- <a href="" style="font-size: 14px">Forgot</a> -->
                            </div>
                            <input type="date" class="form-control border border-dark-subtle" id="dob"
                                   name="dob">
                            <span class="form-message form-text text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="email">Email</label>
                                <!-- <a href="" style="font-size: 14px">Forgot</a> -->
                            </div>
                            <input type="email" class="form-control border border-dark-subtle" id="email"
                                   name="email" placeholder="Enter email">
                            <span class="form-message form-text text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <div class="d-flex justify-content-between">
                                <label class="fw-semibold form-label" for="phone-number">Phone
                                    number</label>

                                <!-- <a href="" style="font-size: 14px">Forgot</a> -->
                            </div>
                            <input type="text" class="form-control border border-dark-subtle" id="phone-number"
                                   name="phoneNumber" placeholder="Enter phone number">
                            <span class="form-message form-text text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-dark fw-semibold" style="width: 100%;"
                                id="submit-form-register">
                            Create
                            Account
                        </button>
                    </div>

                    <div class="my-3" style="font-size: 14px; color: grey;">
                        Envato collects and uses personal data in accordance with our Privacy Policy. By creating an
                        account, you agree to our Terms & Conditions.
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
