<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Account Information</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="common/header.html"></th:block>

<form id="editAccountForm" enctype="multipart/form-data" class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" readonly />
        </div>
        <div class="col-md-6">
            <label for="fullName" class="form-label">Full Name:</label>
            <input type="text" id="fullName" name="fullName" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="dob" class="form-label">Date of Birth:</label>
            <input type="date" id="dob" name="dob" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Address:</label>
            <input type="text" id="address" name="address" class="form-control" />
        </div>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Update Account</button>
    </div>
</form>



<th:block th:replace="common/footer.html"></th:block>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/assets/js/common_customer_page.js"></script>
<script src="/assets/js/editAccInfo.js"></script>
</body>
</html>
