<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobile Shop - Admin Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/logos/logo.png"/>
    <link rel="stylesheet" href="/assets/css/styles.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        th.id-column,
        td.id-column {
            width: 50px;
            text-align: center;
        }

        .pagination {
            position: relative;
            bottom: 0;
            right: 0;
            margin-top: 20px;
        }

        .btn-warning {
            background-color: #ffc107;
            border-color: #ffc107;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }
    </style>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <th:block th:replace="common/sidebar.html"></th:block>

    <!--  Main wrapper -->
    <div class="body-wrapper">

        <!-- Content Start -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Product List</h5>

                    <!-- Search Form -->
                    <div class="input-group mb-3">
                        <input type="text" id="searchInput" class="form-control form-control-sm"
                               placeholder="Search products...">
                        <button id="searchButton" class="btn btn-sm btn-primary" type="button">Search</button>
                    </div>

                    <!-- Button to open the Add Product Modal -->
                    <button class="btn btn-primary my-3" onclick="showAddProductModal()">Add Product</button>

                    <!-- Product List Table -->
                    <table id="productTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="id-column" onclick="sortProducts(0)">ID
                                <button class="btn btn-link btn-sm" onclick="sortProducts(0)"
                                        style="float: right; padding: 0; margin: 0;">
                                    <i class="fas fa-sort"></i>
                                </button>
                            </th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th onclick="sortProducts(4)">Cost (vnd)
                                <button class="btn btn-link btn-sm" onclick="sortProducts(4)"
                                        style="float: right; padding: 0; margin: 0;">
                                    <i class="fas fa-sort"></i>
                                </button>
                            </th>
                            <th onclick="sortProducts(5)">Price (vnd)
                                <button class="btn btn-link btn-sm" onclick="sortProducts(5)"
                                        style="float: right; padding: 0; margin: 0;">
                                    <i class="fas fa-sort"></i>
                                </button>
                            </th>
                            <th>Category Name</th>
                            <th onclick="sortProducts(7)">Quantity
                                <button class="btn btn-link btn-sm" onclick="sortProducts(7)"
                                        style="float: right; padding: 0; margin: 0;">
                                    <i class="fas fa-sort"></i>
                                </button>
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="productTableBody"></tbody>
                    </table>

                    <div id="noDataMessage" style="display: none;">
                        <p>No products available.</p>
                    </div>

                    <div class="d-flex justify-content-end">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="pagination"></ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>

        <!-- Add Product Modal -->
        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addProductForm">
                            <div class="form-group">
                                <label for="productName">Product Name:</label>
                                <input type="text" class="form-control" id="productName" name="productName"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Product Description:</label>
                                <input type="text" class="form-control" id="productDescription"
                                       name="productDescription" required>
                            </div>
                            <div class="form-group">
                                <label for="imageUpload">Product Image:</label>
                                <input type="file" id="imageUpload" name="imageUpload" class="form-control"
                                       accept="image/*" required>
                            </div>
                            <div class="form-group">
                                <label for="productCost">Cost:</label>
                                <input type="number" class="form-control" id="productCost" name="productCost"
                                       step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="productPrice">Price:</label>
                                <input type="number" class="form-control" id="productPrice" name="productPrice"
                                       step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="categoryName">Category Name:</label>
                                <div class="input-group">
                                    <select class="form-control" id="categoryName" name="categoryName"
                                            required></select>
                                    <button class="btn btn-outline-secondary" type="button"
                                            onclick="showAddCategoryModal()">Add New Category
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productStock">Stock Quantity:</label>
                                <input type="number" class="form-control" id="productStock" name="productStock"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Add Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Product Modal -->
        <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editProductForm">
                            <input type="hidden" id="editProductId" name="productId">
                            <div class="form-group">
                                <label for="editProductName">Product Name:</label>
                                <input type="text" class="form-control" id="editProductName" name="productName"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="editProductDescription">Product Description:</label>
                                <input type="text" class="form-control" id="editProductDescription"
                                       name="productDescription" required>
                            </div>
                            <div class="form-group">
                                <label for="editImageUpload">Product Image:</label>
                                <input type="file" id="editImageUpload" name="editImageUpload" class="form-control"
                                       accept="image/*">
                            </div>
                            <div class="form-group">
                                <label for="editProductCost">Cost:</label>
                                <input type="number" class="form-control" id="editProductCost" name="productCost"
                                       step="0.01" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="editProductPrice">Price:</label>
                                <input type="number" class="form-control" id="editProductPrice" name="productPrice"
                                       step="0.01" required>
                            </div>
                            <div class="form-group">
                                <label for="editCategoryName">Category Name:</label>
                                <div class="input-group">
                                    <select class="form-control" id="editCategoryName" name="categoryName"
                                            required></select>
                                    <button class="btn btn-outline-secondary" type="button"
                                            onclick="showAddCategoryModal()">Add New Category
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editProductStock">Stock Quantity:</label>
                                <input type="number" class="form-control" id="editProductStock" name="productStock"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Update Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add New Category Modal -->
        <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="newCategoryName">New Category Name:</label>
                            <input type="text" class="form-control" id="newCategoryName" required>
                        </div>
                        <button type="button" class="btn btn-primary mt-3" onclick="saveNewCategory()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/manageProduct.js"></script>

</body>

</html>